<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Patrakom.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <Patrakom.Settings>
            <setting name="CompanyName" serializeAs="String">
                <value>Your Company Name</value>
            </setting>
            <setting name="ApplicationName" serializeAs="String">
                <value>Predefined Application Name</value>
            </setting>
            <setting name="GreetingsMessage" serializeAs="String">
                <value>Your Greetings Message</value>
            </setting>
            <setting name="ClientID" serializeAs="String">
                <value />
            </setting>
            <setting name="HardwareID" serializeAs="String">
                <value />
            </setting>
            <setting name="SerialNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="DbIpAddress" serializeAs="String">
                <value>203.99.123.17</value>
            </setting>
            <setting name="DbUsername" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="DbPassword" serializeAs="String">
                <value>P4tr4k0m*</value>
            </setting>
            <setting name="DbName" serializeAs="String">
                <value>patrakom_erp</value>
            </setting>
            <setting name="FingerprintTable" serializeAs="String">
                <value>erp_employee_fingerprint</value>
            </setting>
            <setting name="AttendanceTable" serializeAs="String">
                <value>erp_employee_attendances_logs</value>
            </setting>
            <setting name="DeviceSerial" serializeAs="String">
                <value />
            </setting>
            <setting name="VerificationCode" serializeAs="String">
                <value />
            </setting>
            <setting name="ActivationCode" serializeAs="String">
                <value />
            </setting>
            <setting name="BackgroundImage" serializeAs="String">
                <value />
            </setting>
            <setting name="ButtonColor1" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="ButtonColor2" serializeAs="String">
                <value>64, 0, 0</value>
            </setting>
            <setting name="ButtonGradientMode" serializeAs="String">
                <value>Vertical</value>
            </setting>
            <setting name="ApplicationLogo" serializeAs="String">
                <value />
            </setting>
            <setting name="ApplicationLogoColor1" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="ApplicationLogoColor2" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="ApplicationLogoGradientMode" serializeAs="String">
                <value>Vertical</value>
            </setting>
            <setting name="HeaderColor" serializeAs="String">
                <value>192, 0, 0</value>
            </setting>
            <setting name="FontFace" serializeAs="String">
                <value>Tahoma, 8.25pt, style=Bold</value>
            </setting>
            <setting name="FontColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="FontFaceProgress" serializeAs="String">
                <value>Tahoma, 14.25pt</value>
            </setting>
            <setting name="FontFaceProgressColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="SecureKey" serializeAs="String">
                <value>P4tr4k0m</value>
            </setting>
            <setting name="EmployeeTable" serializeAs="String">
                <value>erp_employee</value>
            </setting>
            <setting name="ShiftTable" serializeAs="String">
                <value>erp_employee_shifts</value>
            </setting>
            <setting name="WebcamDriverIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WebcamDriverName" serializeAs="String">
                <value />
            </setting>
            <setting name="BackgroundImageSlideShowFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="BackgroundImageType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BackgroundImageSlideShowDuration" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="BackgroundMode" serializeAs="String">
                <value>Stretch</value>
            </setting>
        </Patrakom.Settings>
    </userSettings>
</configuration>
